<div class="container py-2">
  <h4>Welcome, <%= current_user.first_name %>. Here's your summary from last week</h4>
  <h6 class="font-weight-bold text-uppercase mb-1">Week Commencing <%= (Date.today - (Date.today.wday + 7)).strftime("%a %d %B") %><%#= @restaurant.name.upcase if @restaurant %></h6>
  <div class="row py-3">
    <div class="col-4">
      <span class="text-md font-weight-bold spotlight-green text-uppercase mb-1">Reviews Last Week</span>
      <div class="h2 mb-0 mr-3 text-gray-800"><strong><%= @reviews_last_week.size %></strong></div>
    </div>
    <div class="col-4">
      <span class="text-md font-weight-bold spotlight-green text-uppercase mb-1">Average Rating Last Week</span>
      <div class="h2 mb-0 mr-3 font-weight-bold text-gray-800"><%= @last_week_average %></div>
    </div>
    <div class="col-4">
      <span class="text-md font-weight-bold spotlight-green text-uppercase mb-1">Last Weeks Performance</span>
      <ul style="padding-left: 20px">
        <li><div class="h6 mb-0 mr-3 text-gray-800"><%= @week_review_count_comparision %></div></li>
        <li><div class="h6 mb-0 mr-3 text-gray-800"> <%= @week_review_average_comparision %></div></li>
      </ul>
    </div>
  </div>
</div>
