<div class="row">
  <div class="col-12">
    <div class="top-panel d-flex justify-content-around">
      <div class="left">
        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Total Reviews</div>
        <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800"><%= restaurant.yelp_reviews.count %></div>
      </div>
      <div class="middle">
        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Average Rating</div>
        <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800"><%= restaurant.average_yelp_rating %></div>
      </div>
      <div class="right">
        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Since last login</div>
        <div class="h5 mb-0 mr-3 text-gray-800"><strong><%= restaurant.yelp_reviews.where(review_time: current_user.last_sign_in_at..Date.today).count %></strong> new</div>
      </div>
    </div>
  </div>
</div>
<hr class='sidebar-divider d-none d-md-block mx-3 my-4'>
<div class="row">
  <div class="col-6">
    <div class="chart-left w-100 d-flex flex-column pl-4">
      <span class="text-xs font-weight-bold text-uppercase mb-2 text-gray-800">Review counts by month</span>
        <!-- yelp Chart 1 -->
        <canvas id="yelpBarChart" width="160" height="130" data-chartdata="<%= restaurant.yelp_reviews.where(review_time: (Date.today << 6)..Date.today).group_by_month(:review_time, format: "%b").count.to_json %>"></canvas>
        <%#= column_chart restaurant.yelp_reviews.where(review_time: (Date.today << 6)..Date.today).group_by_month(:review_time, format: "%b").count, width: "90%", height: "180px" %>
    </div>
  </div>
  <div class="col-6">
    <div class="chart-right w-100 d-flex flex-column pl-4">
      <span class="text-xs font-weight-bold text-uppercase mb-2 text-gray-800">Ratings distribution</span>
      <div class="yelp-chart-2">
        <!-- yelp Chart 2 -->
        <canvas id="yelpPieChart" width="150" height="120" data-chartdata="<%= restaurant.yelp_reviews.group(:rating).count.sort %>"></canvas>
      </div>
    </div>
  </div>
</div>


