


<div class="mx-3">
  <h3>Explore the competition</h3>
  <div class="d-flex">
    <div
      id="map"
      style="width: 100%;
      height: 500px;"
      data-center="<%= @my_resto.to_json %>"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_TOKEN'] %>"
      style = "position:sticky; top: 0;"
    ></div>
    <div class="cards ml-3">
      <%= render 'pages/own_restaurant'%>
      <%= render 'pages/competition'%>
      <%= render 'pages/competition'%>
      <%= render 'pages/competition'%>
      <%= render 'pages/competition'%>
      <%= render 'pages/competition'%>
    </div >
  </div>
</div>




