
<div class="mr-3">
  <div class="d-flex align-items-start">
    <div
      id="map"
      style="width: 100%; height: 90vh; position: sticky; top: 94px; border-radius: 10px;"
      data-center="<%= @my_resto.to_json %>"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_TOKEN'] %>"
    ></div>
    <div class="cards ml-3 flex-grow-1" style="position: sticky; top: 0;" >
      <%= render 'pages/own_restaurant', restaurant: @restaurant %>

      <% @markers.each do |competitor| %>
        <% if competitor[:name] != @restaurant.name %>
          <%= render 'pages/competition', competitor: competitor, restaurant: @restaurant %>
        <% end %>
      <% end %>
    </div >
  </div>
</div>

