<!-- @restaurant -->

<div class="h-200 d-flex justify-content-around mx-auto dash-sum-box">
  <div class="container mb-0">
    <h3>Social feed</h3>
  </div>
</div>
<ul class="nav nav-pills mt-0" id="pills-tab" role="tablist">
  <li class="nav-item filter-touchup">
    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">All Channels</a>
  </li>
  <li class="nav-item filter-touchup">
    <a class="nav-link" id="pills-Google-tab" data-toggle="pill" href="#pills-Google" role="tab" aria-controls="pills-Google" aria-selected="false">
      Google
    </a>
  </li>
  <li class="nav-item filter-touchup">
    <a class="nav-link" id="pills-Yelp-tab" data-toggle="pill" href="#pills-Yelp" role="tab" aria-controls="pills-Yelp" aria-selected="false">Yelp</a>
  </li>
  <li class="nav-item filter-touchup">
    <a class="nav-link" id="pills-Zomato-tab" data-toggle="pill" href="#pills-Zomato" role="tab" aria-controls="pills-Zomato" aria-selected="false">Zomato</a>
  </li>
</ul>


<div class="container">
  <div class="row d-flex justify-content-around py-2">
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
        <% @all_reviews_sorted.each do |review| %>
          <% if review.review_type == "GoogleReview" %>
            <%= render 'pages/googlecard', review: review %>
          <% elsif review.review_type == "YelpReview" %>
            <%= render 'pages/yelp_feed_card', review: review %>
          <% elsif review.review_type == "ZomatoReview" %>
            <%= render 'pages/zomato_feed_card', review: review %>
          <% end %>
        <% end %>
      </div>

      <div class="tab-pane fade" id="pills-Google" role="tabpanel" aria-labelledby="pills-Google-tab">
        <% @all_reviews_sorted.each do |review| %>
        <% if review.review_type == "GoogleReview" %>
            <%= render 'pages/googlecard', review: review %>
          <% end %>
        <% end %>
      </div>

      <div class="tab-pane fade" id="pills-Yelp" role="tabpanel" aria-labelledby="pills-Yelp-tab">
        <% @all_reviews_sorted.each do |review| %>
          <% if review.review_type == "YelpReview" %>
            <%= render 'pages/yelp_feed_card', review: review %>
          <% end %>
        <% end %>
      </div>

      <div class="tab-pane fade" id="pills-Zomato" role="tabpanel" aria-labelledby="pills-Zomato-tab">
        <% @all_reviews_sorted.each do |review| %>
          <% if review.review_type == "ZomatoReview" %>
            <%= render 'pages/zomato_feed_card', review: review %>
          <% end %>
        <% end %>
      </div>

    </div>
  </div>
</div>








