
<select class="mdb-select md-form" multiple>
  <option value="" data-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-1.jpg" class="rounded-circle">
    example
    1</option>
  <option value="" data-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" class="rounded-circle">
    example
    2</option>
  <option value="" data-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-3.jpg" class="rounded-circle">
    example
    3</option>
</select>
<button class="btn-save btn btn-primary btn-sm">Save</button>

<%#= render 'pages/nav_items_feedpage'%>


<div class="container">
  <div class="row d-flex justify-content-around py-2">
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
        <% @all_reviews_sorted.each do |review| %>
          <% if review.review_type == "GoogleReview" %>
            <%= render 'pages/googlecard', review: review %>
          <% elsif review.review_type == "YelpReview" %>
            <%= render 'pages/yelp_feed_card', review: review %>
          <% elsif review.review_type == "ZomatoReview" %>
            <%= render 'pages/zomato_feed_card', review: review %>
          <% elsif review.review_type == "FoursquareReview" %>
            <%= render 'pages/foursquarecard', review: review %>
          <% end %>
        <% end %>
      </div>

      <div class="tab-pane fade" id="pills-Google" role="tabpanel" aria-labelledby="pills-Google-tab">
        <% @all_reviews_sorted.each do |review| %>
        <% if review.review_type == "GoogleReview" %>
            <%= render 'pages/googlecard', review: review %>
          <% end %>
        <% end %>
      </div>

      <div class="tab-pane fade" id="pills-Yelp" role="tabpanel" aria-labelledby="pills-Yelp-tab">
        <% @all_reviews_sorted.each do |review| %>
          <% if review.review_type == "YelpReview" %>
            <%= render 'pages/yelp_feed_card', review: review %>
          <% end %>
        <% end %>
      </div>

      <div class="tab-pane fade" id="pills-Zomato" role="tabpanel" aria-labelledby="pills-Zomato-tab">
        <% @all_reviews_sorted.each do |review| %>
          <% if review.review_type == "ZomatoReview" %>
            <%= render 'pages/zomato_feed_card', review: review %>
          <% end %>
        <% end %>
      </div>

      <div class="tab-pane fade" id="pills-Foursquare" role="tabpanel" aria-labelledby="pills-Foursquare-tab">
        <% @all_reviews_sorted.each do |review| %>
          <% if review.review_type == "FoursquareReview" %>
            <%= render 'pages/foursquarecard', review: review %>
          <% end %>
        <% end %>
      </div>

    </div>
  </div>
<%= javascript_pack_tag 'filters' %>
</div>






