<% if !@restaurant %>
  <%= render 'shared/no_restaurant_display' %>
<% else %>
  <div class="h-200 d-flex justify-content-around flex-row mx-auto dash-sum-box">
    <%= render 'dashboard/dashboard_overview_section' %>
  </div>

  <div class="container pb-4">
    <!-- Summary box -->

     <!-- ROW 1 -->
    <div class="row d-flex justify-content-around py-2">
      <!-- Google card -->
      <div class="card shadow h-200 dash-card position-relative">
        <div class="card-header py-2 d-flex align-items-center">
            <%= image_tag 'google-logo.png', class: 'logo-button-white-lg' %>
            <h5>Google Performance</h5>
        </div>
        <div class="py-3">
          <%= render 'dashboard/google_dashcard', restaurant: @restaurant %>
        </div>
      </div>

      <!-- Zomato card -->
      <% if @restaurant.linked_channels.include?('Zomato') %>
        <div class="card shadow h-200 p-2 dash-card position-relative">
          <div class="d-flex align-items-center">
            <%= image_tag 'zomato-logo.png', class: 'logo-button-white-lg' %>
            <h5>Zomato Performance</h5>
          </div>
            <hr>
          <%= render 'dashboard/zomato_dashcard', restaurant: @restaurant %>
        </div>
      <% else %>
        <%= render 'shared/add_channel_card', channel_name: 'Zomato', channel_logo: 'zomato-logo.png', channel_color: '#fcdce1', restaurant: @restaurant %>
      <% end %>
    </div>

    <!-- ROW 2 -->
    <div class="row d-flex justify-content-around py-2">
      <!-- Yelp card -->
      <% if @restaurant.linked_channels.include?('Yelp') %>
        <div class="card shadow h-200 p-2 dash-card position-relative">
          <div class="d-flex align-items-center">
            <%= image_tag 'yelp-logo.png', class: 'logo-button-white-lg' %>
            <h5>Yelp Performance</h5>
          </div>
            <hr>
          <%= render 'dashboard/yelp_dashcard', restaurant: @restaurant %>
        </div>
      <% else %>
        <%= render 'shared/add_channel_card', channel_name: 'Yelp', channel_logo: 'yelp-logo.png', channel_color: '#f5d5d5', restaurant: @restaurant %>
      <% end %>

      <!-- Tripadvisor card -->
      <% if @restaurant.linked_channels.include?('Tripadvisor') %>
        <div class="card shadow h-200 p-2 d-flex flex-row dash-card position-relative">
          <%= image_tag 'trip-advisor-logo.png', class: 'logo-button-white-lg' %>
          <h6>You've already added Trip Advisor :)</h6>
        </div>
      <% else %>
        <%= render 'shared/add_channel_card', channel_name: 'Trip Advisor', channel_logo: 'trip-advisor-logo.png', channel_color: '#dcf0da', restaurant: @restaurant %>
      <% end %>
    </div>

     <!-- ROW 3 -->
    <div class="row d-flex justify-content-around py-2">
      <!-- Foursquare card -->
      <% if @restaurant.linked_channels.include?('Foursquare') %>
        <div class="card shadow h-200 p-2 dash-card position-relative">
          <div class="d-flex align-items-center">
            <%= image_tag 'foursquare-logo.png', class: 'logo-button-white-lg' %>
            <h5>FourSquare Performance</h5>
          </div>
            <hr>
          <%= render 'dashboard/foursquare_dashcard', restaurant: @restaurant %>
        </div>
      <% else %>
        <%= render 'shared/add_channel_card', channel_name: 'Foursquare', channel_logo: 'foursquare-logo.png', channel_color: '#d9d5f5', restaurant: @restaurant %>
      <% end %>
      <!-- FB card -->
      <% if @restaurant.linked_channels.include?('Facebook') %>
        <div class="card shadow h-200 p-2 d-flex flex-row dash-card position-relative">
          <%= image_tag 'facebook-logo.png', class: 'logo-button-white-lg' %>
          <h6>You've already added Facebook :)</h6>
        </div>
      <% else %>
        <%= render 'shared/add_channel_card', channel_name: 'Facebook', channel_logo: 'facebook-logo.png', channel_color: '#d5dff5', restaurant: @restaurant %>
      <% end %>
    </div>

    <!-- ROW 4 -->
    <div class="row d-flex justify-content-around py-2">
      <!-- Insta card -->
      <% if @restaurant.linked_channels.include?('Instagram') %>
        <div class="card shadow h-200 p-2 d-flex flex-row dash-card position-relative">
          <%= image_tag 'instagram-logo.png', class: 'logo-button-white-lg' %>
          <h6>You've already added Instagram :)</h6>
        </div>
      <% else %>
        <%= render 'shared/add_channel_card', channel_name: 'Instagram', channel_logo: 'instagram-logo.png', channel_color: '#d9d5f5', restaurant: @restaurant %>
      <% end %>
    </div>
  </div>
  <%= javascript_pack_tag 'charts' %>
  <%= javascript_pack_tag 'dashboard' %>
<% end %>
