<div class="card h-200 dash-card add-channel-card">
  <div class="add-channel-card-inner card shadow h-200 dash-card add-channel-card" id="add-channel-inner-<%= channel_name.downcase.gsub(" ","") %>">
    <%= link_to "/restaurants/find_#{channel_name.downcase.gsub(' ','')}_restaurant", remote: true do %>
      <div class="add-channel-card-front dash-card" id="add-channel-front-<%= channel_name.downcase.gsub(' ','') %>">
        <div class="text-center">
          <i class="fas fa-plus-circle add-channel-icon"></i>
          <div class="d-flex">
            <%= image_tag channel_logo, class: 'logo-button-white shadow-sm' %>
            <% if restaurant.channel_links_attempted.include?(channel_name.gsub(' ','')) %>
              <h6 style="line-height: 34px">We couldn't find a match on <%= channel_name %>, try again?</h6>
            <% else %>
              <h5 style="line-height: 32px">&nbsp;&nbsp;Add <%= channel_name %></h5>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
    <div class="add-channel-card-back dash-card flex-column" id="add-channel-back-<%= channel_name.downcase.gsub(' ','') %>" style='background-color: <%= channel_color %>'>
      <% if channel_name == "Trip Advisor" %>
        <div style="width: 80%">
          <h6 class="my-3" style="padding-left: 0">Please add your Trip Advisor URL below</h6>
          <%= form_for :restaurant, :url => {:controller => 'restaurants', :action => "find_tripadvisor_restaurant"}, class: 'form-group' do %>
            <%= text_field_tag(:tripadvisor_url, "", class: 'form-control') %>
            <%= submit_tag("Add URL", class: 'btn btn-primary my-2') %>
          <% end %>
        </div>
      <% else %>
        <div>
          <%= image_tag channel_logo, class: 'logo-button-white-lg shadow-sm mb-4' %>
          <h6 id="search_result_<%= channel_name.downcase %>" style="padding-left: 0px">Looking for <strong><%= restaurant.name %></strong> on <strong><%= channel_name %></strong>...</h6>
        </div>
      <% end %>
    </div>
  </div>
</div>
