<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <%= link_to root_path, class: 'sidebar-brand d-flex align-items-center justify-content-center' do %>
    <div class="sidebar-brand-icon rotate-n-15">
    </div>
    <div class="mx-3">
      <%= image_tag 'temp-restaurant-logo', class: 'sidebar-brand-image' %>
    </div>
  <% end %>
  <!-- Nav Item - Dashboard -->
  <li class="nav-item <%= 'active' if action_name == "home" %>" id="dashboard-sidebar-link">
    <%= link_to root_path, class: 'nav-link' do %>
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Dashboard</span></a>
    <% end %>
  </li>
  <li class="nav-item <%= 'active' if action_name == "feed" %>" id="feed-sidebar-link">
    <%= link_to dashboard_feed_path, class: 'nav-link' do %>
        <i class="fas fa-list"></i>
        <span>Feed</span></a>
    <% end %>
  </li>
  <li class="nav-item <%= 'active' if action_name == "explore" %>" id="explore-sidebar-link">
    <%= link_to dashboard_explore_path, class: 'nav-link' do %>
        <i class="fas fa-globe-europe"></i>
        <span>Explore</span></a>
    <% end %>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center mt-auto" href="index.html">
    <div class="sidebar-brand-icon rotate-n-15">
    </div>
    <div class="sidebar-brand-text mx-3">SPOTLIGHT</div>
  </a>

</ul>
<!-- End of Sidebar -->