<div class="card mb-3" style = "width:530px; border-radius: 10px;">
  <div class="row no-gutters" style = "height:140px; border-left-style: outset; border-color: #F5A431; border-radius:10px">
    <div>
      <img style = "height: 140px; width:130px; border-top-left-radius: 10px; border-bottom-left-radius: 10px; object-fit: cover"src=<%= competitor[:photo] %> class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="p-3" style ="width: 400px;">
        <div class = "d-flex justify-content-between">
          <h5 class="card-title" style="width:68%; font-size: 16px; "><%= competitor[:name].truncate(33) %></h5>
          <div class = "px-2" style="font-size: 14px;">
            <% competitor[:rating].to_i.times do  %>
              <span class="fa fa-star checked" style="color: #F5A431"></span>
              <% end %>
            <% if competitor[:rating] - competitor[:rating].to_i > 0.1 %>
              <span class="fa fa-star-half" style="color: #F5A431"></span>
              <% (4 - competitor[:rating].to_i).times do %>
                <span class="fa fa-star" style="color: #CDCDCD"></span>
              <% end %>
            <% else %>
              <% (5 - competitor[:rating].to_i).times do %>
                <span class="fa fa-star" style="color: #CDCDCD"></span>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class = "d-flex align-items-center" style= "font-size: 12px;">
          <ul style = "list-style-type: none; padding-left: 10px;">
            <li>Rating = <%=competitor[:rating]%> </li>
            <li>Total ratings = <%=competitor[:user_ratings_total]%> </li>
            <% if competitor[:price_level] == 1 %>
              <li>Price level = $</li>
            <% elsif competitor[:price_level] == 2 %>
              <li>Price level = $$</li>
            <% elsif competitor[:price_level] == 3 %>
              <li>Price level = $$$</li>
            <% elsif competitor[:price_level] == 4 %>
              <li>Price level = $$$$</li>
            <% else %>
              <li>Price level = unkown</li>
            <% end %>
            <li>Cuisine = <%=restaurant.cuisine%> </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
