<div class="landing-background-container" style="background-image: url(<%= image_url 'landing-page-background.svg' %>)">
  <%= render 'shared/landing_nav_bar' %>
  <!-- Landing Content -->
  <div class="landing-content">
  <!--   <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%#= asset_path 'landing-temporary.jpg' %>);">
      <div class="container">
        <h1><strong>Spotlight</strong>.</h1>
        <p>Shine a light on your restaurants performance.</p>
        <a class="btn btn-flat" href="#">Apply now</a>
      </div>
    </div> -->
    <div class="landing-section" id="what-is-spotlight">
      <div class="logo-container">
        <%= link_to root_path do %>
          <%= image_tag 'spotlight-logo.svg', class: 'landing-logo' %>
        <% end %>
      </div>
      <div class="d-flex justify-content center align-items-center w-100">
        <div class="container h-100">
          <div class="row h-100">
            <div class="col-7">
              <div class="d-flex h-100 flex-column justify-content-end">
                <div>
                  <%= image_tag 'landing-image-1.png', class: 'landing-section-image' %>
                </div>
              </div>
            </div>
            <div class="col-5 d-flex flex-column justify-content-center align-items-center">
              <h3><strong>Manage your restaurant's online reputation with ease</strong></h3>
              <p>
                Spotlight brings all your customer reviews together so you can focus on what matters -
                providing the best experience possible.
              </p>
              <div class="landing-channels">
                <%= image_tag 'google-logo.png', class: 'logo-button-white-lg' %>
                <%= image_tag 'zomato-logo.png', class: 'logo-button-white-lg' %>
                <%= image_tag 'yelp-logo.png', class: 'logo-button-white-lg' %>
                <%= image_tag 'foursquare-logo.png', class: 'logo-button-white-lg' %>
                <%= image_tag 'trip-advisor-logo.png', class: 'logo-button-white-lg' %>
              </div>
              <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-flat-secondary ml-3' %>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
