<div class="container">
  <%= render 'shared/landing_nav_bar' %>
</div>
<!-- Landing Content -->
<div class="landing-content">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path 'landing-temporary.jpg' %>);">
    <div class="container">
      <h1><strong>Spotlight</strong>.</h1>
      <p>Shine a light on your restaurants performance.</p>
      <a class="btn btn-flat" href="#">Apply now</a>
    </div>
  </div>
  <div class="landing-section" id="what-is-spotlight" style="background-color: #023436">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <%= image_tag 'undraw_chef.svg', class: 'landing-section-image' %>
        </div>
        <div class="col-6">
          <h3>What's Spotlight?</h3>
          <p>
            Designed specifically with restaurant owners in mind, Spotlight
            brings all your public facing reviews to one single place so you can focus
            on what's important - providing the best experience and food as you can for
            your customers.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="landing-section" id="how-it-works" style="background-color: white; color: black">
    <div class="container">
      <div class="row">
          <div class="col-6">
            <h3>How it works</h3>
            <p>
              We pull in data from a number of popular crowd-sourced review platforms so you
              don't have to check each individually. With that data, we bring you the key
              statistics and bite-size data that you can practically evaluate to improve
              your customers experience and allow your business to thrive.
            </p>
          </div>
          <div class="col-6">
            <%= image_tag 'undraw_chef.svg', class: 'landing-section-image' %>
          </div>
      </div>
    </div>
  </div>
  <div class="landing-section" id="pricing" style="background-color: #3DD6D0">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <%= image_tag 'undraw_chef.svg', class: 'landing-section-image' %>
        </div>
        <div class="col-6">
          <h3>Pricing</h3>
          <p>
            Designed specifically with restaurant owners in mind, Spotlight
            brings all your public facing reviews to one single place so you can focus
            on what's important - providing the best experience and food as you can for
            your customers.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
