

<% if restaurant.class == Restaurant %>




<% else %>
  <div class="card mb-3" style = "width:100%; border-radius: 10px; border:none;">
      <div>
        <img class="card-img" style = "height: 100px; width:100%; border-top-right-radius: 10px; border-top-left-radius: 10px; object-fit: cover"src=<%= restaurant[:photo] %> >
      </div>
      <div class="">
        <div class="" style ="width: 100%;">
          <h5 class="card-title px-1 mt-3 mb-1" style="width:100%; text-align: center; font-size: 16px;"><%= restaurant[:name].truncate(33) %></h5>
          <div class = "px-2" style="font-size: 14px;">
            <% restaurant[:rating].to_i.times do  %>
              <span class="fa fa-star checked" style="color: #F5A431"></span>
              <% end %>
            <% if restaurant[:rating] - restaurant[:rating].to_i > 0.1 %>
              <span class="fa fa-star-half" style="color: #F5A431"></span>
              <% (4 - restaurant[:rating].to_i).times do %>
                <span class="fa fa-star" style="color: #CDCDCD"></span>
              <% end %>
            <% else %>
              <% (5 - restaurant[:rating].to_i).times do %>
                <span class="fa fa-star" style="color: #CDCDCD"></span>
              <% end %>
            <% end %>
          </div>
          <div class = "d-flex align-items-center" style= "font-size: 12px;">
            <ul style = "list-style-type: none; padding-left: 0px; text-align: center; width: 100%">
              <li>Rating = <%=restaurant[:rating]%> </li>
              <li>Total ratings = <%=restaurant[:user_ratings_total]%> </li>
              <% if restaurant[:price_level] == 1 %>
                <li>Price level = $</li>
              <% elsif restaurant[:price_level] == 2 %>
                <li>Price level = $$</li>
              <% elsif restaurant[:price_level] == 3 %>
                <li>Price level = $$$</li>
              <% elsif restaurant[:price_level] == 4 %>
                <li>Price level = $$$$</li>
              <% else %>
                <li>Price level = unkown</li>
              <% end %>
              <li>Cuisine = <%=restaurant[:cuisine]%> </li>
            </ul>
          </div>
        </div>
      </div>
  </div>
<% end %>

