<div class="container">
  <%= render 'shared/landing_nav_bar' %>
</div>
<div class="container">
  <div class="row">
    <div class="col-6 mx-auto">
      <h2>Find your restaurant</h2>
      <p>We use Google Maps to find your restaurant, make sure it's listed there!</p>
      <form action="" class="my-4">
      <label for="restaurant_selector">Find your restaurant</label>
      <input type="text" id="restaurant_selector" placeholder="Find your restaurant" class="form-control">
      </form>

      <%= simple_form_for @restaurant do |f| %>
        <%= f.input :name %>
        <%= f.input :address %>
        <%= f.input :cuisine, collection: Restaurant::CUISINES.sort %>
        <%= f.input :price_level, label: "Price Level (1-3, 1 being cheap, 3 being high-end" %>
        <%= f.input :photo, label: "Restaurant Logo" %>
        <%= f.input :photo_cache, as: :hidden %>
        <%= f.button :submit %>
      <% end %>
    </div>
  </div>
</div>
