<div class="container">
  <%= render 'shared/landing_nav_bar' %>
</div>
<div class="container">
  <div class="row">
    <div class="col-10 mx-auto">

      <!-- Sign up card start -->
      <div class="sign-up-card mb-5">
        <div class="sign-up-header">
          <h3>Get started with Spotlight</h3>
        </div>
        <div class="sign-up-progress">
          <div class="row h-100">
            <div class="col-4 sign-up-progress-element"><div class="sign-up-stage">1</div>Create Account</div>
            <div class="col-4 sign-up-progress-element"><div class="sign-up-stage current-stage">2</div>Find Your Restaurant</div>
            <div class="col-4 sign-up-progress-element"><div class="sign-up-stage">3</div>Setup Payment</div>
          </div>
        </div>
        <div class="sign-up-content p-5">
          <!-- Sign up card content here: -->
          <h2>Welcome, <strong class="spotlight-green"><%= current_user.first_name %></strong>! Find your restaurant</h2>
          <p>We use Google Maps to find your restaurant, make sure it's listed there!</p>
          <form action="" class="my-4">
          <label for="restaurant_selector">Find your restaurant</label>
          <input type="text" id="restaurant_selector" placeholder="Find your restaurant" class="form-control">
          </form>

          <%= simple_form_for @restaurant do |f| %>
            <%= f.input :name %>
            <%= f.input :address %>
            <%= f.input :cuisine, collection: Restaurant::CUISINES.sort %>
            <%= f.input :price_level, label: "Price Level (1-3, 1 being cheap, 3 being high-end" %>
            <%= f.input :photo, label: "Restaurant Logo" %>
            <%= f.input :photo_cache, as: :hidden %>
            <%= f.button :submit, class: 'btn-flat' %>
          <% end %>
          <!-- End of sign up content -->
          <%= link_to "I'll do this later", root_path %>
        </div>
      </div>
      <!-- Sign up card end -->
    </div>
  </div>
</div>
